node-red/flows.json
[{"id":"87801bb5.d47ba8","type":"tab","label":"RF Switches","disabled":false,"info":""},{"id":"15686d0f.5d4e73","type":"tab","label":"DriveWay Gate","disabled":false,"info":""},{"id":"bd5ee048.19c38","type":"tab","label":"System","disabled":false,"info":""},{"id":"4542867e.d26d88","type":"server","z":"","name":"Home Assistant"},{"id":"2d7711e8.2cfe6e","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fae867d.a88a9a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"785f2692.139e98","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 1-2","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_1_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":260,"wires":[["213d2b8b.788204"],[]]},{"id":"213d2b8b.788204","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is Lounge Fan Off?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"fan.lounge_fan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":260,"wires":[["1416e7cf.cf50f8"],["6bc29615.1ae878","a877dcac.ec5a6","42761101.3cd7d"]]},{"id":"1416e7cf.cf50f8","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan On and Set Speed to Low","server":"4542867e.d26d88","service_domain":"fan","service":"turn_on","data":"{\"entity_id\":\"fan.lounge_fan\",\"speed\":\"low\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":220,"wires":[[]]},{"id":"acb7c6b4.0ad9f8","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Change Speed to Medium","server":"4542867e.d26d88","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.lounge_fan\",\"speed\":\"medium\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":280,"wires":[[]]},{"id":"6bc29615.1ae878","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Fan On Low?","rules":[{"property":"attributes.speed","logic":"is","value":"low","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":620,"y":280,"wires":[["acb7c6b4.0ad9f8"]]},{"id":"759e0084.27a26","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Change Speed to High","server":"4542867e.d26d88","service_domain":"fan","service":"set_speed","data":"{\"entity_id\":\"fan.lounge_fan\",\"speed\":\"high\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":340,"wires":[[]]},{"id":"a877dcac.ec5a6","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Fan on Medium?","rules":[{"property":"attributes.speed","logic":"is","value":"medium","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":630,"y":340,"wires":[["759e0084.27a26"]]},{"id":"1f4f2ad5.5d12b5","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan Off","server":"4542867e.d26d88","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.lounge_fan\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":400,"wires":[[]]},{"id":"42761101.3cd7d","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Speed on High?","rules":[{"property":"attributes.speed","logic":"is","value":"high","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":630,"y":400,"wires":[["1f4f2ad5.5d12b5"]]},{"id":"85b127ee.dd73c8","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 1-1","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_1_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":40,"wires":[["7272ebd0.d737d4"],[]]},{"id":"7272ebd0.d737d4","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Lounge Light","server":"4542867e.d26d88","service_domain":"light","service":"toggle","data":"{\"entity_id\":\"light.lounge_light\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":40,"wires":[[]]},{"id":"e6447f68.691e3","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 1-3","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_1_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":500,"wires":[["e4be234a.e9acd"],[]]},{"id":"e4be234a.e9acd","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Lounge Heater 1000W","server":"4542867e.d26d88","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.lounge_heater_turn_on_1000w\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":500,"wires":[[]]},{"id":"106415e1.a615ea","type":"server-state-changed","z":"87801bb5.d47ba8","name":"Lounge Light Switch 1","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.lounge_light_switch_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":100,"wires":[["7272ebd0.d737d4"],[]]},{"id":"dd89bb67.343938","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 2-1","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_2_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":600,"wires":[["129deaa0.fdcc45"],[]]},{"id":"e3227f84.3f35d","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle All Outside Lights","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.all_outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":600,"wires":[[]]},{"id":"b1622072.f0e09","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 2-2","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_2_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":660,"wires":[[],[]]},{"id":"df022b49.265198","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 2-3","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_2_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":720,"wires":[[],[]]},{"id":"129deaa0.fdcc45","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is it Night?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":600,"wires":[["e3227f84.3f35d"],[]]},{"id":"35c4a800.b354b8","type":"server-state-changed","z":"15686d0f.5d4e73","name":"Drive way Gate Open?","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.driveway_gate","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":240,"wires":[["79048255.ec59dc"],["ebd026b8.498c28"]]},{"id":"79048255.ec59dc","type":"api-call-service","z":"15686d0f.5d4e73","name":"Take Snapshot","server":"4542867e.d26d88","version":1,"service_domain":"camera","service":"snapshot","entityId":"camera.driveway_gate","data":"{\"filename\":\"/config/www/tmp/drivewaysnapshot.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":200,"wires":[["54f92a1d.62d074"]]},{"id":"54f92a1d.62d074","type":"delay","z":"15686d0f.5d4e73","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":200,"wires":[["f9742ab7.b60938"]]},{"id":"f9742ab7.b60938","type":"api-call-service","z":"15686d0f.5d4e73","name":"Notify Greg's iPhone OPEN","server":"4542867e.d26d88","version":1,"service_domain":"notify","service":"mobile_app_gregs_iphone_8_plus","entityId":"","data":"{\"message\":\"Driveway Gate is OPEN\",\"data\":{\"attachment\":{\"content-type\":\"jpeg\",\"url\":\"https://gcswhassio.duckdns.org/local/tmp/drivewaysnapshot.jpg\"},\"push\":{\"category\":\"OPEN_CLOSE_GATE\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":200,"wires":[[]]},{"id":"7d1a3fea.8ffb1","type":"inject","z":"15686d0f.5d4e73","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["79048255.ec59dc"]]},{"id":"ebd026b8.498c28","type":"api-call-service","z":"15686d0f.5d4e73","name":"Take Snapshot","server":"4542867e.d26d88","version":1,"service_domain":"camera","service":"snapshot","entityId":"camera.driveway_gate","data":"{\"filename\":\"/config/www/tmp/drivewaysnapshot.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":280,"wires":[["42d3601f.45703"]]},{"id":"42d3601f.45703","type":"delay","z":"15686d0f.5d4e73","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":280,"wires":[["b231bc36.b32a4"]]},{"id":"b231bc36.b32a4","type":"api-call-service","z":"15686d0f.5d4e73","name":"Notify Greg's iPhone CLOSED","server":"4542867e.d26d88","version":1,"service_domain":"notify","service":"mobile_app_gregs_iphone_8_plus","entityId":"","data":"{\"message\":\"Driveway Gate is CLOSED\",\"data\":{\"attachment\":{\"content-type\":\"jpeg\",\"url\":\"https://gcswhassio.duckdns.org/local/tmp/drivewaysnapshot.jpg\"},\"push\":{\"category\":\"OPEN_CLOSE_GATE\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":280,"wires":[[]]},{"id":"ff020ee6.2ef6e","type":"inject","z":"15686d0f.5d4e73","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["ebd026b8.498c28"]]},{"id":"f1c3a14f.b5885","type":"server-events","z":"bd5ee048.19c38","name":"Home Assistant Starts","server":"4542867e.d26d88","event_type":"start","x":120,"y":40,"wires":[["d710b02b.d927f"]]},{"id":"d710b02b.d927f","type":"api-call-service","z":"bd5ee048.19c38","name":"Set Theme","server":"4542867e.d26d88","version":1,"service_domain":"frontend","service":"set_theme","entityId":"","data":"{\"name\":\"midnight-blue-round\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":40,"wires":[[]]}]