node-red/flows.json
[{"id":"87801bb5.d47ba8","type":"tab","label":"RF Switches","disabled":false,"info":""},{"id":"15686d0f.5d4e73","type":"tab","label":"DriveWay Gate","disabled":false,"info":""},{"id":"bd5ee048.19c38","type":"tab","label":"System","disabled":false,"info":""},{"id":"7bd57551.620f7c","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"5a3a7218.110a5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4542867e.d26d88","type":"server","z":"","name":"Home Assistant"},{"id":"2d7711e8.2cfe6e","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fae867d.a88a9a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70946a91.8083b4","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"785f2692.139e98","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 1-2","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_1_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":260,"wires":[["213d2b8b.788204"],[]]},{"id":"213d2b8b.788204","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is Lounge Fan Off?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"fan.lounge_fan_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":310,"y":260,"wires":[["1416e7cf.cf50f8"],["6bc29615.1ae878","a877dcac.ec5a6","42761101.3cd7d"]]},{"id":"1416e7cf.cf50f8","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan On and Set Speed to Low","server":"4542867e.d26d88","version":"1","service_domain":"fan","service":"turn_on","entityId":"fan.lounge_fan_1","data":"{\"speed\":\"low\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":220,"wires":[[]]},{"id":"acb7c6b4.0ad9f8","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Change Speed to Medium","server":"4542867e.d26d88","version":"1","service_domain":"fan","service":"set_speed","entityId":"fan.lounge_fan_1","data":"{\"speed\":\"medium\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":280,"wires":[[]]},{"id":"6bc29615.1ae878","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Fan On Low?","rules":[{"property":"attributes.speed","logic":"is","value":"low","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":620,"y":280,"wires":[["acb7c6b4.0ad9f8"]]},{"id":"759e0084.27a26","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Change Speed to High","server":"4542867e.d26d88","version":"1","service_domain":"fan","service":"set_speed","entityId":"fan.lounge_fan_1","data":"{\"speed\":\"high\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":340,"wires":[[]]},{"id":"a877dcac.ec5a6","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Fan on Medium?","rules":[{"property":"attributes.speed","logic":"is","value":"medium","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":630,"y":340,"wires":[["759e0084.27a26"]]},{"id":"1f4f2ad5.5d12b5","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan Off","server":"4542867e.d26d88","version":"1","service_domain":"fan","service":"turn_off","entityId":"fan.lounge_fan_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":400,"wires":[[]]},{"id":"42761101.3cd7d","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Speed on High?","rules":[{"property":"attributes.speed","logic":"is","value":"high","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":630,"y":400,"wires":[["1f4f2ad5.5d12b5"]]},{"id":"85b127ee.dd73c8","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 1-1","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_1_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":40,"wires":[["7272ebd0.d737d4"],[]]},{"id":"7272ebd0.d737d4","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Lounge Light","server":"4542867e.d26d88","version":"1","service_domain":"light","service":"toggle","entityId":"light.lounge_light_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":40,"wires":[[]]},{"id":"e6447f68.691e3","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 1-3","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_1_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":500,"wires":[["1d5c653f.38146b"],[]]},{"id":"e4be234a.e9acd","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Outside Lights","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.all_outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":500,"wires":[[]]},{"id":"106415e1.a615ea","type":"server-state-changed","z":"87801bb5.d47ba8","name":"Lounge Light Switch 1","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.lounge_light_switch_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":100,"wires":[["7272ebd0.d737d4"],[]]},{"id":"dd89bb67.343938","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 2-1","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_2_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":600,"wires":[["129deaa0.fdcc45"],[]]},{"id":"e3227f84.3f35d","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle All Outside Lights","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.all_outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":600,"wires":[[]]},{"id":"b1622072.f0e09","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 2-2","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_2_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":660,"wires":[[],[]]},{"id":"df022b49.265198","type":"server-state-changed","z":"87801bb5.d47ba8","name":"RF Switch 2-3","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.rf_switch_2_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":720,"wires":[[],[]]},{"id":"129deaa0.fdcc45","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is it Night?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":600,"wires":[["e3227f84.3f35d"],[]]},{"id":"35c4a800.b354b8","type":"server-state-changed","z":"15686d0f.5d4e73","name":"Drive way Gate Open?","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.driveway_gate","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":240,"wires":[["4cb66745.e8a378"],["db07ff5d.c7751","13fac538.0720fb"]]},{"id":"79048255.ec59dc","type":"api-call-service","z":"15686d0f.5d4e73","name":"Take Snapshot","server":"4542867e.d26d88","version":1,"service_domain":"camera","service":"snapshot","entityId":"camera.driveway_gate","data":"{\"filename\":\"/config/www/tmp/drivewaysnapshot.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":200,"wires":[["54f92a1d.62d074"]]},{"id":"54f92a1d.62d074","type":"delay","z":"15686d0f.5d4e73","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":200,"wires":[["f9742ab7.b60938"]]},{"id":"f9742ab7.b60938","type":"api-call-service","z":"15686d0f.5d4e73","name":"Notify Greg's iPhone OPEN","server":"4542867e.d26d88","version":1,"service_domain":"notify","service":"mobile_app_gregs_iphone_8_plus","entityId":"","data":"{\"message\":\"Driveway Gate is OPEN\",\"data\":{\"attachment\":{\"content-type\":\"jpeg\",\"url\":\"https://gcswhassio.duckdns.org/local/tmp/drivewaysnapshot.jpg\"},\"push\":{\"category\":\"OPEN_CLOSE_GATE\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":200,"wires":[[]]},{"id":"7d1a3fea.8ffb1","type":"inject","z":"15686d0f.5d4e73","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["79048255.ec59dc"]]},{"id":"ebd026b8.498c28","type":"api-call-service","z":"15686d0f.5d4e73","name":"Take Snapshot","server":"4542867e.d26d88","version":1,"service_domain":"camera","service":"snapshot","entityId":"camera.driveway_gate","data":"{\"filename\":\"/config/www/tmp/drivewaysnapshot.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":280,"wires":[["42d3601f.45703"]]},{"id":"42d3601f.45703","type":"delay","z":"15686d0f.5d4e73","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":280,"wires":[["b231bc36.b32a4"]]},{"id":"b231bc36.b32a4","type":"api-call-service","z":"15686d0f.5d4e73","name":"Notify Greg's iPhone CLOSED","server":"4542867e.d26d88","version":1,"service_domain":"notify","service":"mobile_app_gregs_iphone_8_plus","entityId":"","data":"{\"message\":\"Driveway Gate is CLOSED\",\"data\":{\"attachment\":{\"content-type\":\"jpeg\",\"url\":\"https://gcswhassio.duckdns.org/local/tmp/drivewaysnapshot.jpg\"},\"push\":{\"category\":\"OPEN_CLOSE_GATE\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":280,"wires":[[]]},{"id":"ff020ee6.2ef6e","type":"inject","z":"15686d0f.5d4e73","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["ebd026b8.498c28"]]},{"id":"7999c0ee.9927d","type":"server-state-changed","z":"bd5ee048.19c38","name":"Jenny Home?","server":"4542867e.d26d88","version":1,"entityidfilter":"device_tracker.life360_jenny","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":220,"wires":[["76b09c68.434164"],["946b55fc.01e498"]]},{"id":"946b55fc.01e498","type":"api-current-state","z":"bd5ee048.19c38","name":"Greg Home?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_greg","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":260,"wires":[["76b09c68.434164"],["8a040394.bbed1"]]},{"id":"59b20336.a91f5c","type":"api-current-state","z":"bd5ee048.19c38","name":"Jenny Home?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_jenny","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":120,"wires":[["76b09c68.434164"],["8a040394.bbed1"]]},{"id":"8a040394.bbed1","type":"api-call-service","z":"bd5ee048.19c38","name":"Turn Kitchen Screen Off","server":"4542867e.d26d88","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":260,"wires":[[]]},{"id":"d68e3cb6.f5449","type":"api-call-service","z":"bd5ee048.19c38","name":"Turn Kitchen Screen On","server":"4542867e.d26d88","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":120,"wires":[[]]},{"id":"ea8031a2.5c5ca","type":"server-state-changed","z":"bd5ee048.19c38","name":"Greg Home","server":"4542867e.d26d88","version":1,"entityidfilter":"device_tracker.life360_greg","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":160,"wires":[["76b09c68.434164"],["59b20336.a91f5c"]]},{"id":"289cd5f5.09582a","type":"bigtimer","z":"7bd57551.620f7c","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Lounge Lamp","comment":"","lat":"-26.103456","lon":"27.979101","starttime":"5004","endtime":"1245","starttime2":0,"endtime2":0,"startoff":"-20","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":60,"wires":[["69ab11c8.55b41"],[],[]]},{"id":"69ab11c8.55b41","type":"switch","z":"7bd57551.620f7c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":60,"wires":[["62401bda.2107e4"],["92d5eec9.d44cd"]]},{"id":"62401bda.2107e4","type":"api-call-service","z":"7bd57551.620f7c","name":"Lounge Lamp On","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"turn_on","entityId":"light.lounge_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":40,"wires":[[]]},{"id":"92d5eec9.d44cd","type":"api-call-service","z":"7bd57551.620f7c","name":"Lounge Lamp Off","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"turn_off","entityId":"light.lounge_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":100,"wires":[[]]},{"id":"76b09c68.434164","type":"time-range-switch","z":"bd5ee048.19c38","name":"","lat":"","lon":"","startTime":"07:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":530,"y":220,"wires":[["d68e3cb6.f5449"],["8a040394.bbed1"]]},{"id":"29329241.f6101e","type":"api-current-state","z":"7bd57551.620f7c","name":"Is Apple TV (Plex) Available?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"media_player.plex_living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":420,"wires":[["4884a0bc.16077"],["e31cef24.ffd2f"]]},{"id":"4884a0bc.16077","type":"api-call-service","z":"7bd57551.620f7c","name":"Turn On TV LED","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"turn_on","entityId":"light.tv_led","data":"{\"brightness\":\"128\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":400,"wires":[[]]},{"id":"e31cef24.ffd2f","type":"api-call-service","z":"7bd57551.620f7c","name":"Turn Off TV LED","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"turn_off","entityId":"light.tv_led","data":"{\"transition\":\"10\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":460,"wires":[[]]},{"id":"2b33518a.c4abce","type":"poll-state","z":"7bd57551.620f7c","name":"Is it Night?","server":"4542867e.d26d88","version":1,"updateinterval":"30","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sun.sun","state_type":"str","halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":80,"y":420,"wires":[["29329241.f6101e"],[]]},{"id":"e16a54bf.a23038","type":"server-state-changed","z":"7bd57551.620f7c","name":"Drive way Gate Open?","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.driveway_gate","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":600,"wires":[["6648c74f.fadbf8"],[]]},{"id":"6648c74f.fadbf8","type":"api-current-state","z":"7bd57551.620f7c","name":"Is it Night?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":600,"wires":[["84f947c5.dcd7b8"],[]]},{"id":"84f947c5.dcd7b8","type":"api-call-service","z":"7bd57551.620f7c","name":"Turn On Outside Lights","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"turn_on","entityId":"light.all_outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":600,"wires":[["b172f586.4a40e8"]]},{"id":"b172f586.4a40e8","type":"delay","z":"7bd57551.620f7c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":600,"wires":[["9d693c72.9680c"]]},{"id":"9d693c72.9680c","type":"api-call-service","z":"7bd57551.620f7c","name":"Turn Off Outside Lights","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"turn_off","entityId":"light.all_outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":600,"wires":[[]]},{"id":"213032c.5fdf0ce","type":"server-state-changed","z":"7bd57551.620f7c","name":"Jenny Home?","server":"4542867e.d26d88","version":1,"entityidfilter":"device_tracker.life360_jenny","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":280,"wires":[["4d0fd504.b59a8c"],["b1ab86cc.fdc538"]]},{"id":"b1ab86cc.fdc538","type":"api-current-state","z":"7bd57551.620f7c","name":"Greg Home?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_greg","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":300,"wires":[["4d0fd504.b59a8c"],["7f7102e7.ce196c"]]},{"id":"983ae857.6c2d98","type":"api-current-state","z":"7bd57551.620f7c","name":"Jenny Home?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_jenny","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":220,"wires":[["4d0fd504.b59a8c"],["7f7102e7.ce196c"]]},{"id":"2465361c.c4339a","type":"server-state-changed","z":"7bd57551.620f7c","name":"Greg Home","server":"4542867e.d26d88","version":1,"entityidfilter":"device_tracker.life360_greg","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":220,"wires":[["4d0fd504.b59a8c"],["983ae857.6c2d98"]]},{"id":"207000ed.ed6fe","type":"api-call-service","z":"7bd57551.620f7c","name":"Nursery LED ON Pink","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"turn_on","entityId":"light.nursery_led","data":"{\"color_name\":\"hotpink\",\"brightness\":\"25\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":240,"wires":[[]]},{"id":"8dd52436.c44a58","type":"switch","z":"7bd57551.620f7c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":280,"wires":[[],["7f7102e7.ce196c"]]},{"id":"7f7102e7.ce196c","type":"api-call-service","z":"7bd57551.620f7c","name":"Nursery LED OFF","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"turn_off","entityId":"light.nursery_led","data":"{\"transition\":\"300\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":300,"wires":[[]]},{"id":"4d0fd504.b59a8c","type":"bigtimer","z":"7bd57551.620f7c","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Timer","comment":"","lat":"-26.103456","lon":"27.979101","starttime":"1200","endtime":"5003","starttime2":0,"endtime2":0,"startoff":"0","endoff":"60","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":590,"y":280,"wires":[["8dd52436.c44a58"],[],[]]},{"id":"4cb66745.e8a378","type":"delay","z":"15686d0f.5d4e73","name":"Rate Limit 5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":220,"wires":[["79048255.ec59dc"]]},{"id":"db07ff5d.c7751","type":"delay","z":"15686d0f.5d4e73","name":"Rate Limit 5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":260,"wires":[["ebd026b8.498c28"]]},{"id":"13fac538.0720fb","type":"debug","z":"15686d0f.5d4e73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":440,"wires":[]},{"id":"72c42989.69f9e8","type":"mqtt in","z":"87801bb5.d47ba8","name":"","topic":"tele/sonoffrfbridge/RESULT","qos":"2","datatype":"auto","broker":"2d7711e8.2cfe6e","x":170,"y":860,"wires":[["b61f77d5.9e2a18"]]},{"id":"9d823f62.1f572","type":"switch","z":"87801bb5.d47ba8","name":"iFan 03 Button 7 (All)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"340101","vt":"str"},{"t":"eq","v":"148901","vt":"str"},{"t":"eq","v":"70C801","vt":"str"},{"t":"eq","v":"BEB461","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":560,"y":860,"wires":[["f47c3d6d.34334"],["f47c3d6d.34334"],["f47c3d6d.34334"],["f47c3d6d.34334"]]},{"id":"91fe33f3.e8bbb","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle All Outside Lights","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.all_outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":860,"wires":[[]]},{"id":"f47c3d6d.34334","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is it Night?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":810,"y":860,"wires":[["91fe33f3.e8bbb"],[]]},{"id":"b61f77d5.9e2a18","type":"json","z":"87801bb5.d47ba8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":860,"wires":[["9d823f62.1f572","f74c2e73.d1d98","29f8aca3.6033a4","ff12f031.018eb","7a002c0b.69fc34"]]},{"id":"1d5c653f.38146b","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is it Night?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290,"y":500,"wires":[["e4be234a.e9acd"],[]]},{"id":"f74c2e73.d1d98","type":"switch","z":"87801bb5.d47ba8","name":"iFan 03 Button 8 (Nursery)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"70C803","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":940,"wires":[["da1963ad.b6738"]]},{"id":"da1963ad.b6738","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Nursery Lamp","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.nursery_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":940,"wires":[[]]},{"id":"29f8aca3.6033a4","type":"debug","z":"87801bb5.d47ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":800,"wires":[]},{"id":"ff12f031.018eb","type":"switch","z":"87801bb5.d47ba8","name":"iFan 03 Button 0 (Kitchen)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"BEB463","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":1000,"wires":[["12ed87ae.779808"]]},{"id":"12ed87ae.779808","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Kitchen LED","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.kitchen_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1000,"wires":[[]]},{"id":"7a002c0b.69fc34","type":"switch","z":"87801bb5.d47ba8","name":"iFan 03 Button 8 (Lounge 2)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"340103","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":580,"y":1060,"wires":[["f74e3319.34b2d"]]},{"id":"f74e3319.34b2d","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Lounge Lamp","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.lounge_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":1060,"wires":[[]]}]