node-red/flows.json
[{"id":"87801bb5.d47ba8","type":"tab","label":"RF Switches","disabled":false,"info":""},{"id":"15686d0f.5d4e73","type":"tab","label":"DriveWay Gate","disabled":false,"info":""},{"id":"bd5ee048.19c38","type":"tab","label":"System","disabled":false,"info":""},{"id":"7bd57551.620f7c","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"4542867e.d26d88","type":"server","z":"","name":"Home Assistant"},{"id":"2d7711e8.2cfe6e","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fae867d.a88a9a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"70946a91.8083b4","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"213d2b8b.788204","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is Lounge Fan Off?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"fan.lounge_fan_1","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":1300,"wires":[["1416e7cf.cf50f8"],["6bc29615.1ae878","a877dcac.ec5a6","42761101.3cd7d"]]},{"id":"1416e7cf.cf50f8","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan On and Set Speed to Low","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.lounge_fan_1","data":"{\"speed\":\"low\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":1260,"wires":[[]]},{"id":"acb7c6b4.0ad9f8","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Change Speed to Medium","server":"4542867e.d26d88","version":"1","service_domain":"fan","service":"set_speed","entityId":"fan.lounge_fan_1","data":"{\"speed\":\"medium\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530,"y":1320,"wires":[[]]},{"id":"6bc29615.1ae878","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Fan On Low?","rules":[{"property":"attributes.speed","logic":"is","value":"low","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1280,"y":1320,"wires":[["acb7c6b4.0ad9f8"]]},{"id":"759e0084.27a26","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Change Speed to High","server":"4542867e.d26d88","version":"1","service_domain":"fan","service":"set_speed","entityId":"fan.lounge_fan_1","data":"{\"speed\":\"high\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":1380,"wires":[[]]},{"id":"a877dcac.ec5a6","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Fan on Medium?","rules":[{"property":"attributes.speed","logic":"is","value":"medium","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1290,"y":1380,"wires":[["759e0084.27a26"]]},{"id":"1f4f2ad5.5d12b5","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan Off","server":"4542867e.d26d88","version":"1","service_domain":"fan","service":"turn_off","entityId":"fan.lounge_fan_1","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":1440,"wires":[[]]},{"id":"42761101.3cd7d","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Speed on High?","rules":[{"property":"attributes.speed","logic":"is","value":"high","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1290,"y":1440,"wires":[["1f4f2ad5.5d12b5"]]},{"id":"7272ebd0.d737d4","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Nursery Light","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.nursery_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":960,"wires":[[]]},{"id":"35c4a800.b354b8","type":"server-state-changed","z":"15686d0f.5d4e73","name":"Drive way Gate Open?","server":"4542867e.d26d88","version":1,"entityidfilter":"binary_sensor.driveway_gate","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":240,"wires":[["4cb66745.e8a378"],["db07ff5d.c7751","13fac538.0720fb"]]},{"id":"79048255.ec59dc","type":"api-call-service","z":"15686d0f.5d4e73","name":"Take Snapshot","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"camera","service":"snapshot","entityId":"camera.driveway_gate","data":"{\"filename\":\"/config/www/tmp/drivewaysnapshot.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":200,"wires":[["54f92a1d.62d074"]]},{"id":"54f92a1d.62d074","type":"delay","z":"15686d0f.5d4e73","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":200,"wires":[["f9742ab7.b60938"]]},{"id":"f9742ab7.b60938","type":"api-call-service","z":"15686d0f.5d4e73","name":"Notify Greg's iPhone OPEN","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_gregs_iphone_8_plus","entityId":"","data":"{\"message\":\"Driveway Gate is OPEN\",\"data\":{\"attachment\":{\"content-type\":\"jpeg\",\"url\":\"https://wrenchhome.duckdns.org/local/tmp/drivewaysnapshot.jpg\"},\"push\":{\"category\":\"OPEN_CLOSE_GATE\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1240,"y":200,"wires":[[]]},{"id":"7d1a3fea.8ffb1","type":"inject","z":"15686d0f.5d4e73","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["79048255.ec59dc"]]},{"id":"ebd026b8.498c28","type":"api-call-service","z":"15686d0f.5d4e73","name":"Take Snapshot","server":"4542867e.d26d88","version":1,"service_domain":"camera","service":"snapshot","entityId":"camera.driveway_gate","data":"{\"filename\":\"/config/www/tmp/drivewaysnapshot.jpg\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":280,"wires":[["42d3601f.45703"]]},{"id":"42d3601f.45703","type":"delay","z":"15686d0f.5d4e73","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":280,"wires":[["b231bc36.b32a4"]]},{"id":"b231bc36.b32a4","type":"api-call-service","z":"15686d0f.5d4e73","name":"Notify Greg's iPhone CLOSED","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_gregs_iphone_8_plus","entityId":"","data":"{\"message\":\"Driveway Gate is CLOSED\",\"data\":{\"attachment\":{\"content-type\":\"jpeg\",\"url\":\"https://wrenchhome.duckdns.org/local/tmp/drivewaysnapshot.jpg\"},\"push\":{\"category\":\"OPEN_CLOSE_GATE\"}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":280,"wires":[[]]},{"id":"ff020ee6.2ef6e","type":"inject","z":"15686d0f.5d4e73","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["ebd026b8.498c28"]]},{"id":"7999c0ee.9927d","type":"server-state-changed","z":"bd5ee048.19c38","name":"Jenny Home?","server":"4542867e.d26d88","version":1,"entityidfilter":"device_tracker.life360_jenny","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":220,"wires":[["76b09c68.434164"],["946b55fc.01e498"]]},{"id":"946b55fc.01e498","type":"api-current-state","z":"bd5ee048.19c38","name":"Greg Home?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_greg","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":260,"wires":[["76b09c68.434164"],["8a040394.bbed1"]]},{"id":"59b20336.a91f5c","type":"api-current-state","z":"bd5ee048.19c38","name":"Jenny Home?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.life360_jenny","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":120,"wires":[["76b09c68.434164"],["8a040394.bbed1"]]},{"id":"8a040394.bbed1","type":"api-call-service","z":"bd5ee048.19c38","name":"Turn Kitchen Screen Off","server":"4542867e.d26d88","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":260,"wires":[[]]},{"id":"d68e3cb6.f5449","type":"api-call-service","z":"bd5ee048.19c38","name":"Turn Kitchen Screen On","server":"4542867e.d26d88","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":120,"wires":[[]]},{"id":"ea8031a2.5c5ca","type":"server-state-changed","z":"bd5ee048.19c38","name":"Greg Home","server":"4542867e.d26d88","version":1,"entityidfilter":"device_tracker.life360_greg","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":90,"y":160,"wires":[["76b09c68.434164"],["59b20336.a91f5c"]]},{"id":"76b09c68.434164","type":"time-range-switch","z":"bd5ee048.19c38","name":"","lat":"","lon":"","startTime":"06:30","endTime":"20:30","startOffset":0,"endOffset":0,"x":530,"y":220,"wires":[["d68e3cb6.f5449"],["8a040394.bbed1"]]},{"id":"4884a0bc.16077","type":"api-call-service","z":"7bd57551.620f7c","name":"Turn On TV LED","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_led","data":"{\"rgb_color\":[255,181,108],\"brightness\":\"200\",\"transition\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":20,"wires":[[]]},{"id":"e31cef24.ffd2f","type":"api-call-service","z":"7bd57551.620f7c","name":"Turn Off TV LED","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.tv_led","data":"{\"transition\":\"10\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":920,"y":140,"wires":[[]]},{"id":"4cb66745.e8a378","type":"delay","z":"15686d0f.5d4e73","name":"Rate Limit 5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":220,"wires":[["cb592834.e4a5d"]]},{"id":"db07ff5d.c7751","type":"delay","z":"15686d0f.5d4e73","name":"Rate Limit 5s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":260,"wires":[["4d54a34f.01367c"]]},{"id":"13fac538.0720fb","type":"debug","z":"15686d0f.5d4e73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":420,"wires":[]},{"id":"72c42989.69f9e8","type":"mqtt in","z":"87801bb5.d47ba8","name":"","topic":"tele/sonoffrfbridge/RESULT","qos":"2","datatype":"auto","broker":"2d7711e8.2cfe6e","x":140,"y":340,"wires":[["b61f77d5.9e2a18"]]},{"id":"9d823f62.1f572","type":"switch","z":"87801bb5.d47ba8","name":"iFan 03 Button 7 (All)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"340101","vt":"str"},{"t":"eq","v":"148901","vt":"str"},{"t":"eq","v":"70C801","vt":"str"},{"t":"eq","v":"BEB461","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":530,"y":340,"wires":[["59b4e188.ce277"],["59b4e188.ce277"],["59b4e188.ce277"],["59b4e188.ce277"]]},{"id":"91fe33f3.e8bbb","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle All Outside Lights","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.all_outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":340,"wires":[[]]},{"id":"b61f77d5.9e2a18","type":"json","z":"87801bb5.d47ba8","name":"","property":"payload","action":"","pretty":false,"x":130,"y":740,"wires":[["9d823f62.1f572","f74c2e73.d1d98","29f8aca3.6033a4","ff12f031.018eb","7a002c0b.69fc34","917cac0b.0b17e","4c5bffd.65691","4ae189d8.1f7528","468611d6.445e9","74d08df0.6f58d4","3b3f0ed5.c9fcf2","4b33b01b.29a7f","838e2f54.12cf3","42a32e1f.da7b8","7e320516.5e797c","a10f0e70.19e5e","f20066d7.e15ad"]]},{"id":"f74c2e73.d1d98","type":"switch","z":"87801bb5.d47ba8","name":"iFan 03 Button 8 (Nursery)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"70C803","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":540,"y":420,"wires":[["da1963ad.b6738"]]},{"id":"da1963ad.b6738","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Nursery Lamp","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.nursery_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":420,"wires":[[]]},{"id":"29f8aca3.6033a4","type":"debug","z":"87801bb5.d47ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":20,"wires":[]},{"id":"ff12f031.018eb","type":"switch","z":"87801bb5.d47ba8","name":"iFan 03 Button 0 (Kitchen)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"BEB463","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":540,"y":480,"wires":[["12ed87ae.779808"]]},{"id":"12ed87ae.779808","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Kitchen LED","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.kitchen_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":480,"wires":[[]]},{"id":"7a002c0b.69fc34","type":"switch","z":"87801bb5.d47ba8","name":"iFan 03 Button 8 (Lounge 2)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"340103","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":550,"y":540,"wires":[["f74e3319.34b2d"]]},{"id":"f74e3319.34b2d","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Lounge Lamp","server":"4542867e.d26d88","version":1,"service_domain":"light","service":"toggle","entityId":"light.lounge_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1010,"y":540,"wires":[[]]},{"id":"3855dd70.bf5a92","type":"server-state-changed","z":"7bd57551.620f7c","name":"Is Jenny less than 750m from home?","server":"4542867e.d26d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"proximity.jenny_to_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"750","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":160,"y":240,"wires":[["71ad524c.6ee72c"],[]]},{"id":"43832d37.de2374","type":"debug","z":"7bd57551.620f7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":440,"wires":[]},{"id":"cc16a4a4.a67f18","type":"poll-state","z":"7bd57551.620f7c","name":"Is Sony TV On?","server":"4542867e.d26d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"binary_sensor.sony_tv_power","state_type":"str","halt_if":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":100,"y":60,"wires":[["d1901459.c2ebd8"],["e31cef24.ffd2f"]]},{"id":"71ad524c.6ee72c","type":"ha-get-entities","z":"7bd57551.620f7c","server":"4542867e.d26d88","name":"","rules":[{"property":"attributes.dir_of_travel","logic":"is","value":"towards","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":450,"y":280,"wires":[["66af5b00.a70294"]]},{"id":"66af5b00.a70294","type":"time-range-switch","z":"7bd57551.620f7c","name":"","lat":"-26.103456","lon":"27.979101","startTime":"sunset","endTime":"sunrise","startOffset":"-30","endOffset":0,"x":660,"y":280,"wires":[[],[]]},{"id":"54779657.29f358","type":"api-call-service","z":"7bd57551.620f7c","name":"Turn On Outside Lights","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.all_outside_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":280,"wires":[[]]},{"id":"9f4b1c95.b853f","type":"server-state-changed","z":"7bd57551.620f7c","name":"Is Greg less than 750m from home?","server":"4542867e.d26d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"proximity.greg_to_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"750","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":160,"y":300,"wires":[["71ad524c.6ee72c"],[]]},{"id":"eeead9e0.7ee068","type":"server-state-changed","z":"7bd57551.620f7c","name":"Is Sally less than 750m from home?","server":"4542867e.d26d88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"proximity.sally_to_home","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"750","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"x":160,"y":360,"wires":[["71ad524c.6ee72c"],[]]},{"id":"917cac0b.0b17e","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 3-1 (Nursery Night Light)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"5C0A91","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":580,"y":600,"wires":[["9439fd67.6305d"]]},{"id":"4c5bffd.65691","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 3-2 (Nursery Night Light)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"5C0A98","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":580,"y":660,"wires":[["571eb1f8.1e329"]]},{"id":"4ae189d8.1f7528","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 3-1 (Nursery Night Light)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"5C0A92","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":580,"y":720,"wires":[["8b3865b5.a71fb8"]]},{"id":"571eb1f8.1e329","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is Nursery Night Light Off?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.nursery_led","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1040,"y":660,"wires":[["258d04a1.6db64c"],["258d04a1.6db64c","9cd83bcf.1b6d88","da565804.3c3f98","8a12e808.3087e8"]]},{"id":"258d04a1.6db64c","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Night Light On and Set Effect to Rainbow","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.nursery_led","data":"{\"effect\":\"Rainbow\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":480,"wires":[[]]},{"id":"5e092059.d74f7","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Change Effect to Random Twinkle","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.nursery_led","data":"{\"effect\":\"Random Twinkle\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1650,"y":540,"wires":[[]]},{"id":"9cd83bcf.1b6d88","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Effect Rainbow?","rules":[{"property":"attributes.effect","logic":"is","value":"Rainbow","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1350,"y":540,"wires":[["5e092059.d74f7"]]},{"id":"4485450d.63fa5c","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Change Effect to Color Wipe","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.nursery_led","data":"{\"effect\":\"Color Wipe\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1680,"y":600,"wires":[[]]},{"id":"da565804.3c3f98","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Effect Random Twinkle?","rules":[{"property":"attributes.effect","logic":"is","value":"Random Twinkle","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1380,"y":600,"wires":[["4485450d.63fa5c"]]},{"id":"5399b99b.423dd8","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Night Light Off","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.nursery_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1630,"y":660,"wires":[[]]},{"id":"8a12e808.3087e8","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Effect Color Wipe?","rules":[{"property":"attributes.effect","logic":"is","value":"Color Wipe","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1360,"y":660,"wires":[["5399b99b.423dd8"]]},{"id":"9439fd67.6305d","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Nursery Night Light Pink","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.nursery_led","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":600,"wires":[[]]},{"id":"8b3865b5.a71fb8","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is Nursery Night Light On?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.nursery_led","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1040,"y":720,"wires":[["63d2682b.10ef58"],[]]},{"id":"63d2682b.10ef58","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Night Light On and Set Effect to Rainbow","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.nursery_led","data":"{\"effect\":\"Rainbow\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":720,"wires":[[]]},{"id":"d1901459.c2ebd8","type":"api-current-state","z":"7bd57551.620f7c","name":"Lounge Brightness < 50 ?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.lounge_brightness","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":40,"wires":[["41cd892a.0e87f"],[]]},{"id":"67d135fc.4a275c","type":"time-range-switch","z":"7bd57551.620f7c","name":"","lat":"-26.103456","lon":"27.979101","startTime":"sunset","endTime":"20:30","startOffset":"-60","endOffset":0,"x":880,"y":20,"wires":[["4884a0bc.16077"],[]]},{"id":"468611d6.445e9","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 4-1 (Main Bedroom)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"BE0B81","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":780,"wires":[["49b3d6e0.71c618"]]},{"id":"49b3d6e0.71c618","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Main Bedroom Light","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.main_bedroom_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":780,"wires":[[]]},{"id":"74d08df0.6f58d4","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 4-2 (Main Bedroom)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"BE0B88","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":840,"wires":[["d5e9b285.c64c3"]]},{"id":"d5e9b285.c64c3","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is Main Bedroom Fan Off?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"fan.main_bedroom_fan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1040,"y":840,"wires":[["f0528347.0e251"],["43ee9acd.678534"]]},{"id":"f0528347.0e251","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan On and Set Speed to Low","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.main_bedroom_fan","data":"{\"speed\":\"low\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":800,"wires":[[]]},{"id":"43ee9acd.678534","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Fan On Low?","rules":[{"property":"attributes.speed","logic":"is","value":"low","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1320,"y":860,"wires":[["bc2d401f.65d37"]]},{"id":"bc2d401f.65d37","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan Off","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.main_bedroom_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":860,"wires":[[]]},{"id":"3b3f0ed5.c9fcf2","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 1-1 (Nursery)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"692B81","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":550,"y":960,"wires":[["7272ebd0.d737d4"]]},{"id":"4b33b01b.29a7f","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 1-2 (Nursery)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"692B88","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":550,"y":1020,"wires":[["ff38a9c0.a72878"]]},{"id":"59b4e188.ce277","type":"time-range-switch","z":"87801bb5.d47ba8","name":"","lat":"-26.103456","lon":"27.979101","startTime":"sunset","endTime":"sunrise","startOffset":"-90","endOffset":0,"x":1000,"y":340,"wires":[["91fe33f3.e8bbb"],[]]},{"id":"838e2f54.12cf3","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 4-3 (Main Bedroom)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"BE0B82","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":559,"y":280,"wires":[["59b4e188.ce277"]]},{"id":"42a32e1f.da7b8","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 2-1 (Cottage Kitchen)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"780A91","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":100,"wires":[["59b4e188.ce277"]]},{"id":"a10f0e70.19e5e","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 2-3 (Cottage Kitchen)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"780A92","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":180,"wires":[["59b4e188.ce277"]]},{"id":"7e320516.5e797c","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 2-2 (Cottage Kitchen)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"780A98","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":570,"y":140,"wires":[["59b4e188.ce277"]]},{"id":"ff38a9c0.a72878","type":"api-current-state","z":"87801bb5.d47ba8","name":"Is Main Nursery Fan Off?","server":"4542867e.d26d88","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"fan.nursery_fan","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1030,"y":1020,"wires":[["2bf24bd8.69b154"],["253c8da8.3af8f2"]]},{"id":"253c8da8.3af8f2","type":"ha-get-entities","z":"87801bb5.d47ba8","server":"4542867e.d26d88","name":"Is Fan On Low?","rules":[{"property":"attributes.speed","logic":"is","value":"low","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":1320,"y":1080,"wires":[["6e4d7e8.694ee"]]},{"id":"6e4d7e8.694ee","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan Off","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_off","entityId":"fan.nursery_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":1080,"wires":[[]]},{"id":"2bf24bd8.69b154","type":"api-call-service","z":"87801bb5.d47ba8","name":"Yes, Turn Fan On and Set Speed to Low","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"fan","service":"turn_on","entityId":"fan.nursery_fan","data":"{\"speed\":\"low\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":1020,"wires":[[]]},{"id":"f20066d7.e15ad","type":"switch","z":"87801bb5.d47ba8","name":"RF Switch 1-3 (Nursery)","property":"payload.RfReceived.Data","propertyType":"msg","rules":[{"t":"eq","v":"692B82","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":550,"y":1080,"wires":[["3b4d1d36.81c2ba"]]},{"id":"3b4d1d36.81c2ba","type":"api-call-service","z":"87801bb5.d47ba8","name":"Toggle Nursery Lamp","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.nursery_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":1080,"wires":[[]]},{"id":"4d54a34f.01367c","type":"delay","z":"15686d0f.5d4e73","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":260,"wires":[["ebd026b8.498c28"]]},{"id":"cb592834.e4a5d","type":"delay","z":"15686d0f.5d4e73","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":220,"wires":[["79048255.ec59dc"]]},{"id":"741c5d.273bd3a4","type":"time-range-switch","z":"7bd57551.620f7c","name":"","lat":"-26.103456","lon":"27.979101","startTime":"20:30","endTime":"sunrise","startOffset":"","endOffset":0,"x":880,"y":80,"wires":[["b85348.87b354b8"],[]]},{"id":"41cd892a.0e87f","type":"time-range-switch","z":"7bd57551.620f7c","name":"","lat":"-26.103456","lon":"27.979101","startTime":"sunset","endTime":"sunrise","startOffset":"-30","endOffset":0,"x":600,"y":40,"wires":[["67d135fc.4a275c","741c5d.273bd3a4"],["e31cef24.ffd2f"]]},{"id":"b85348.87b354b8","type":"api-call-service","z":"7bd57551.620f7c","name":"Turn On TV LED","server":"4542867e.d26d88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.tv_led","data":"{\"rgb_color\":[255,181,108],\"brightness\":\"125\",\"transition\":\"100\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1120,"y":80,"wires":[[]]}]
